:root {
    margin: 0;
    padding: 0;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */


@theme {
    /* Colores Personalizados */
    --color-secondary: #111827;
    --color-secondary-dark: #070A13;
}

/* @font-face {
  font-family : FiraCode;
  font-style  : normal;
  font-weight : 200 700;
  font-display: swap;
  src         : url("@Assets/fonts/FiraCode-VariableFont.ttf") format("truetype");
}

@layer base {
  html {
      @apply transition-colors duration-300;

      font-family: "FiraCode", monospace;

  }
} */