:root {
    margin: 0;
    padding: 0;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
/* @custom-variant dark (&:where(.dark, .dark *)); */


@theme {
    /* Colores Personalizados */
    --color-secondary: #111827;
    --color-secondary-dark: #070A13;
    --color-background: #F9F9F9;
    --color-primary: #F05B20;
    
    /* Texto Personaliado */
    --font-logo: "KadwaR";
    --font-text: "QuicksandR";
}

 @font-face {
  font-family : KadwaR;
  font-style  : regular;
  font-weight : 200 700;
  font-display: swap;
  src         : url('@/presentation/assets/fonts/Kadwa-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('@/presentation/assets/fonts/Quicksand-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/presentation/assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('@/presentation/assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('@/presentation/assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('@/presentation/assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

@layer base {
  html {
      /* @apply transition-colors duration-300; */
      background-color:  var(--color-background);

      font-family: "Quicksand", monospace;

  }
}
